@model SpecialTags

@{
    ViewData["Title"] = "Delete";
}
<h2>Delete Special Tag</h2>
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <input asp-for="SpecialTag" class="form-control" hidden />

    <div class="p-4 rounded border">
        <div asp-validation="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpecialTag"></label>
            </div>
            <div class="col-5">
                <input asp-for="SpecialTag" class="form-control" disabled />
            </div>
            <span asp-validation-for="SpecialTag" class="text-danger"></span>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-danger">Delete</button>

            <button asp-action="Index" class="btn btn-primary">Back to list</button>

        </div>
    </div>
</form>

@section Scripts {
    @* Client side validation *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}