@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section class="New-Deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    Cyber Deal
                </h2>
            </div>
        </div>
        <div id="Search-Wrapper">
            <input type="text" name="Search-Bar" id="Search-Bar" placeholder="Search for product" />
        </div>
        <div id="New-Products" class="row">
        </div>
        <div id="btn-container">
        </div>
    </div>
</section>

    <script src="~/js/homePage.js">

    </script>
